@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
    --primary-color: #FF7B54;
    --text-primary-color: #FFFFFF;
    --inter-font-regular: "Inter", sans-serif;
}



